@import "tailwindcss";

* {
  box-sizing: border-box;
}

:root {
  --color-dark-red: #991b1f;
  --color-red: #c12030;
  --color-light-red: #ef4645;
  --color-black: #231f20;
}

body {
  font-family: 'Open Sans', sans-serif;
  background-color: #303030;
  /* #991b1f - koyu kırmızı */
  /* #c12030 - kırmızı */
  /* #ef4645 - açık kırmızı */
  /* #231f20 - siyah */
  margin: 0;
  padding: 0;
}

@keyframes dropdown {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-dropdown {
  animation: dropdown 0.25s ease;
}